.logo {
    font-family: 'Anton', sans-serif;
    color: #006600 !important;
}
.banner-nutrisima {
    height: 400px;
}

.productos {
    margin-bottom: 0 !important; 
}

.servicios {
    height: 400px;
}

.nutrisima {
    height: 400px;
    margin-bottom: 0px !important;
}

.item-producto {
    font-family: 'Anton', sans-serif;
}

.item-producto-descripcion {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px !important;
}

.imagen-circular {
    width: 200px;
    height: 200px;
}

.banner-nutrisima {
  background-image: url("http://images.indianexpress.com/2016/06/vegetable_759_thinkstockphotos-174429248.jpg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 400px;
  margin-top: 50px;
  padding-top: 70px;
}

.slogan-first {
  color: white;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px #000;
}

.slogan {
  color: white;
  font-size: 100px;
  font-family: 'Anton', sans-serif;
  text-shadow: 2px 2px #000;
}

.slogan-final {
  color: white;
  font-size: 50px;
  font-family: 'Rouge Script', cursive;
  text-shadow: 2px 2px #000;
}

.titulo-procutos {
    font-family: 'Anton', sans-serif;
    margin-top: -5px;
    margin-bottom: 20px;
}

.servicios {
    background-image: url("http://www.precrop.com/media/wysiwyg/crop.jpg");
    height: 450px;
    background-size: cover;
    background-position: center center;
    
}

.titulo-asesoramiento {
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    font-size: 50px;
    padding-top: 15px;
}

.text-asesoramiento {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 18px;
}

.transparente{
    height: 380px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 10px;
    float: none;
    margin: 0 auto;
    margin-top: 40px;
}

.div-button {
    margin-top: 20px;
}

.transparente-items {
    height: 380px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
    padding-top: 50px;
}

.titulo-item {
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    font-size: 25px;
}

.text-item {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 16px;
    margin-top: -15px;
    margin-bottom: 20px;
}

.titulo-nutrisima {
    font-family: 'Pathway Gothic One', sans-serif;
    color: rgb(51, 51, 51);
    font-size: 18px;
}

.text-nutrisima {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(51, 51, 51);
    font-size: 18px;
}

#map {
   width: 50%;
   height: 360px;
   background-color: grey;
   float: left;
 }

 .contacto {
    width: 50%;
    height: 360px;
    background-color: grey;
    float: left;
    background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/01/28/239522/big_thumb_ce8b73d56bd242eb1f2369fe856f1c63.jpg");
    background-size: cover;
    color: white;
 }

 .transparente-contacto {
    height: 300px;
    width: 500px;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 10px;
    float: none;
    margin: 0 auto;
    margin-top: 40px;
 }

 .titulo-contacto {
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    font-size: 50px;
    padding-top: 15px;
    margin-bottom: 20px;
}

 .text-contacto {
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    
 }

 .item-contacto {
    font-size: 18px;
    margin-left: 80px;
    margin-top: 5px;
 }

 .blog {
    margin-bottom: 0 !important; 
    padding-top: 20px !important;
 }

 .blog-new {
     width: 350px;
     height: 380px;
     padding-left: 15px;
     padding-right: 15px;
 }

 .blog-img {
     width: 320px;
     background-color: #4a4a4a;
 }

 .titulo-blog {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 26px;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-top: 0px;
 }

 .titulo-blog-item {
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    font-size: 26px;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-top: 0px;
 }


 .blog-content {
     background-color: #4a4a4a;
     height: 175px;
 }

 .text-blog {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 14px !important;
    padding-left: 15px;
    padding-right: 15px;
}

.blog-foot {
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    font-size: 14px !important;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #4a4a4a;
    height: 30px;
}

.text-blog-foot {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 14px !important;
}

.contacto-form {
    background-image: url("https://c1.staticflickr.com/9/8424/7841845106_3d4a895169_b.jpg");
    background-size: cover;
}

.form {
    padding: 25px;
    margin-left: 50px;
    background-color:rgba(0, 0, 0, 0.5);
    width: 400px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}

.btn-enviar {
    display: block; width: 100%;
}

.footer {
    background-color: #4a4a4a;
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    padding-right: 20px;
    height: 60px;
}

.author {
    font-size: 20px;    
}


 